<header>
	<div class="has-text-centered">
            <img src="/assets/images/logo.png" alt="" width="145" height="auto">
            </div> <!-- lang="en" จัดโลโก้ -->
	
		<nav class="navbar-tabs"> 
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">INFORMATION</a>
			<a href="#" class="navbar-item">PERSON</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">CONTACT</a>
		</nav>
	</header>